<template>
    <header class="d-flex">
      <div class="logo">
          <nuxt-link to="/blog">
          <img src="http://devfast.us/images/devfast-logo.png" alt="blog.vn">
          </nuxt-link>
      </div>
      <div class="name-page w-100">
          <nuxt-link to="/blog">
            <p>Blogmanagent</p>
          </nuxt-link>
      </div>
    </header>
</template>

<style>
header {
    height: 60px;
    width: 100%;
    background-color: #201E1E;
}

.name-page {
    padding-right: 255px;
}

.logo {
    width: 317px;
}

.logo img {
    width: 77px;
    height: 60px;
    margin-left: 75px;
    cursor: pointer;
}

p {
    text-align: center;
    margin: 8px 80px 8px 0;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}
</style>
