<template>
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item" @click="statusMenu=1">
                <fa :class="{active: statusMenu == 1}" class="icon-menu" icon="list-ul" />
                <nuxt-link :class="{active: statusMenu == 1}" class="nav-link" to="/blog">List</nuxt-link>
            </li>
            <li class="nav-item" @click="statusMenu=2">
                <fa :class="{active: statusMenu == 2}" class="icon-menu" icon="plus-square" />
               <nuxt-link :class="{active: statusMenu == 2}" class="nav-link" to="/blog/new">New</nuxt-link>
            </li>
            <li class="nav-item active" @click="statusMenu=3">
                <fa :class="{active: statusMenu == 3}" class="icon-menu" icon="search" />
                <nuxt-link :class="{active: statusMenu == 3}" class="nav-link" to="/blog/search">Search</nuxt-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            statusMenu : 1
        }
    },
}
</script>

<style>
nav {
    width: 250px;
    min-height: 100vh;
}

nav .nav-item {
    color: #000;
    padding-left: 10px;
}

.active, 
nav .nav-item:hover {
    color: #0d6efd !important;
}

.icon-menu {
    color: #000;
}
.nav-link {
    width: 200px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    padding: .5rem 2rem;
}
</style>