<template>
    <div class="card">
      <div class="card-header title">Search Blogs</div>
      <div class="card-body ">
        <form class="form-group row" @submit.prevent="handleSearch()">
          <label for="inputSearch" class="col-sm-2 col-form-label">Title: </label>
          <div class="col-sm-10">
            <input id="inputSearch" v-model="keySearch" type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-outline-success btn-search mt-4">Search</button>
        </form>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      keySearch : ''
    }
  },
  methods: {
    handleSearch() {
      this.$emit('on-search', this.keySearch)
    }
  }
}
</script>