<template>
<ValidationObserver ref="observer" tag="form" >
    
  <div class="card">
    <div class="card-header title">
      <slot></slot>
    </div>
    <div class="card-body form-post">
      <div v-if="statusAlert == 2" class="alert alert-success" role="alert">
        <span class="d-inline-block w-100 text-center">Thêm thành công bài Post!</span>
      </div>
      <div v-if="statusAlert == 1" class="alert alert-success" role="alert">
        <span class="d-inline-block w-100 text-center">Update thành công bài Post!</span>
      </div>
        <div class="form-group">
          <label for="input-title">Tiêu đề:</label>
          <ValidationProvider v-slot="{ errors }" rules="required|min:5" name="Title">
          <input id="input-title" v-model="post.title" class="form-control">
          <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for="input-des">Mô tả ngắn:</label>
          <ValidationProvider v-slot="{ errors }" rules="required|min:5" name="Des">
          <textarea id="input-des" v-model="post.des" class="form-control" rows="5" ></textarea>
          <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for="input-detail">Chi tiết:</label>
          <ValidationProvider v-slot="{ errors }" rules="required|min:5" name="Detail">
          <textarea id="input-detail" v-model="post.detail" class="form-control" rows="8" ></textarea>
          <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for="input-thumbs">Hình ảnh:</label>
          <input id="input-thumbs" type="file" class="form-control-file d-block" @change="getFile">
        </div>

        <div class="form-group">
          <label class="d-block">Vị trí:</label>
          <ValidationProvider v-slot="{ errors }" rules="required" name="Position">

          <div v-for="position in LIST_POSITION" :key="position.positionId" class="form-check form-check-inline">
            <input v-model="post.position" class="form-check-input" type="checkbox" :value="position.positionId">
            <label class="form-check-label">{{position.positionName}}</label>
          </div>
          
          <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>

        <div class="form-group">
          <label class="d-block">Public:</label>
          <ValidationProvider v-slot="{ errors }" rules="required" name="Public">
          <div class="form-check form-check-inline">
            <input id="inlineRadio1" v-model="post.public" class="form-check-input" type="radio"
              name="inlineRadioOptions" value="true">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input id="inlineRadio2" v-model="post.public" class="form-check-input" type="radio"
              name="inlineRadioOptions" value="false">
            <label :selected="!post.public" class="form-check-label" for="inlineRadio2">No</label>
          </div>
          <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label>Loại: </label>
            <ValidationProvider v-slot="{ errors }" rules="required" name="Category">
            <select v-model="post.category" class="form-select" aria-label="Default select example">
              <option v-for="category in LIST_CATEGORY" :key="category.categoryId" :value="category.categoryId">{{category.name}}</option>
              
            </select>
            <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
             </ValidationProvider>
          </div>
          <div class="form-group col-md-6">
            <label for="input-date">Date public:</label>
            <ValidationProvider v-slot="{ errors }" rules="required" name="Date Public">
            <input id="input-date" v-model="post.data_pubblic" type="date" class="form-control">
             <span v-if="statusAlertValidate" style="color: red">{{ errors[0] }}</span>
             </ValidationProvider>
          </div>
        </div>
      
    </div>
    <div class="card-footer d-flex justify-content-center p-3">
      <div>
        <button type="submit" class="btn btn-success" @click.prevent="onSubmit()">Submit</button>
        <button type="button" class="btn btn-primary" @click="onClearInput()">Clear</button>
      </div>
    </div>
  </div>
 
  </ValidationObserver>
</template>

<script>
import axios from 'axios'
import { ValidationProvider } from "vee-validate";
import {LIST_CATEGORY, LIST_POSITION, BASE_URL} from '~/constants/constans.js'
  export default {
    components: {
      ValidationProvider
    },
    props: {
      postEdit : {
        type : Object,
        default : () => {}
      }
    },
    data() {
      return {
        post: {
          title: null,
          des: '',
          detail: '',
          category: '',
          public: null,
          data_pubblic: '',
          position: [],
          thumbs: '',
        },
        LIST_CATEGORY,
        LIST_POSITION,
        statusAlert: 0,
        statusAlertValidate: true
      }
    },
    
    updated() {
      if(this.postEdit) {
        this.post = this.postEdit
      }
    },

    methods: {
      getFile(event) {
       this.post.thumbs = event.target.files[0].name;
      },

      createEditPost() {
        this.post.category = parseInt(this.post.category);
          this.post.public = this.post.public === 'true';
          this.post.position = this.post.position.map(pos => parseInt(pos));
      
          if (this.$route.params.id) {
            axios.put(`${BASE_URL}/blogs/${this.$route.params.id}`, this.post)
            .then(() => {
              this.statusAlertValidate = false;
              this.statusAlert = 1;
              setTimeout(() => {
              this.statusAlert = 0
              this.$router.push('/blog');
              alert("Update thành công");
            }, 1000);
            window.scrollTo(0, 0);
            })
            .catch(error => alert(error))
          } else {
            axios.post(`${BASE_URL}/blogs`, this.post)
            .then(() => {
              this.post = {};
              this.statusAlert = 2;
              this.statusAlertValidate = false;
              setTimeout(() => {
              this.statusAlert = 0
              this.$router.push('/blog');
              alert("Thêm thành công");
            }, 1000);
            window.scrollTo(0, 0);
            })
            .catch(error => alert(error))
            
          }
      },

      async onSubmit() {
        this.statusAlertValidate = true;
        const isValid = await this.$refs.observer.validate();
        if (!isValid) {
        window.scrollTo(0, 0);
        }else{
          this.createEditPost();
        }
      },

      onClearInput() {
        this.post = {};
        window.scrollTo(0, 0);
      }

    }
  }

</script>

<style>
  .form-post {
    padding: 15px 15px 20px 15px;
  }

  .form-group {
    margin-top: 15px;
  }

  .form-group label {
    margin-bottom: 10px;
  }

</style>
