<template>
    <div>
        <BlogCreateEdit :post-edit="post">Edit Blog</BlogCreateEdit>
    </div>
</template>

<script>
import axios from 'axios'
import BlogCreateEdit from "~/components/blog/BlogCreateEdit.vue"
import {BASE_URL} from '~/constants/constans.js';
export default {
    components: {
        BlogCreateEdit
    },
    data() {
        return {
            post : {}
        }
    },
    created() {
        this.getPost();
    },
    methods: {
        getPost() {
            axios
            .get(`${BASE_URL}/blogs/${this.$route.params.id}`)
            .then(response => (this.post = response.data))
            .catch(error => alert(error))
        }
    }
}
</script>