<template>
  <div>
    <BlogList :list-post="listPost" @on-delete="getAllPost()"/>
  </div>
</template>

<script>
import axios from 'axios'
import BlogList from '~/components/blog/BlogList.vue'
import {BASE_URL} from '~/constants/constans.js';
export default {
  components: {
    BlogList
  },
  data() {
    return {
      listPost : []
    }
  },
  mounted() {
    this.getAllPost();
  },
  methods: {
    getAllPost() {
      axios
      .get(`${BASE_URL}/blogs`)
      .then(response => (this.listPost = response.data))
      .catch(error => alert(error))
    },
  }
}
</script>

